SERVICE_NAME=processor-service
PORT=3001
PGHOST=localhost
PGPORT=5433
PGUSER=neowallet
PGPASSWORD=neowallet
PGDATABASE=processor_db
ACCOUNTS_SERVICE_URL=http://localhost:8000
ACCOUNTS_TIMEOUT_MS=3000
NOTIFICATION_SERVICE_URL=http://localhost:3002
NOTIFICATION_TIMEOUT_MS=2500
RECONCILE_ENABLED=true
RECONCILE_INTERVAL_MS=15000
RECONCILE_STUCK_SECONDS=30
