SERVICE_NAME=accounts-service
PORT=8000
PGHOST=localhost
PGPORT=5432
PGUSER=neowallet
PGPASSWORD=neowallet
PGDATABASE=accounts_db
NOTIFICATION_SERVICE_URL=http://localhost:3002
NOTIFICATION_TIMEOUT_MS=2500
